RewriteEngine On

# TODO Rewrtie people from tools folder
# TODO Rewrite away from everything but the assets folder

# Rewrite url for parameters, and keep GET query string
RewriteRule ^calculation/([^/\.]+)$ application/index.php?p=calculation&m=$1&%{QUERY_STRING} [L]
RewriteRule ^([^/\.]+)$ application/index.php?p=$1&%{QUERY_STRING} [L]
RewriteRule ^$ application/index.php [L]

