/*
 * 
 * 
 * Icons:
 * 
 * try to fool around with 
 * http://thenounproject.com/tag/science/
 * Looks like they have alot of icons.
 * What is Terms of Usage?
 * 
 * 
 */
 
 
/* Reset All Style */
@import url(reset.meyer.css);


::-moz-focus-inner {border: 0;}
	input[type=submit]:focus {outline: 0;}
	::-webkit-input-placeholder,
	:-moz-placeholder {color:#999;}
	::selection,
	::-moz-selection {color:white;background:black;
		text-shadow:none;
	}


html {
	
	
}

/* Default Style */
body {
	margin:0;
	padding:0;
	font:11px/20px tahoma, sans-serif;
	color:#333;
	
	background:#fff;
	cursor:default;
	}
	
a {
	text-decoration:none;
	color:#0373BB;
	/*color:rgb(178, 105, 0);*/
}
a:hover {
	color:#000;
}


strong {
	font-weight:bold;
}

	
/* STANDARD CLASSES */		
	.hidden,
	.print {display:none;}
	.clean {clear:both;}
	
	.hidden {display:none !important;}

/* DEFAULT STYLE */
	h2 {

	}
	h3 {

		
	}
	p {
		margin:0 0 20px 0;
	}


/* CSS MODULES */


/* HTML LAYOUT */

	header {
		background:#333;
		background:rgba(0,0,0,0.8);
		
		border-width:1px 0;
		border-style:solid;
		border-color:#000;
		
		box-shadow:0 0 10px rgb(255,255,255);
		
		z-index:10;
		position:relative;
		
		}
	.body {}
	footer {}
	
	footer .container,
	.body  .container,
	header .container {
		width:980px;
		margin:0 auto;
	}

	/* HEADER */
	header .container {
		height:50px;
		position:relative;
	}
	header .logo {
		
		position:absolute;
		bottom:10px;
		left:10px;
	}
	header .logo a {
		display:block;
	}
	header .logo h1 {
		
		font-family:sans-serif;
		font-size:12px;
		display:inline-block;
		line-height:100%;
		padding:8px;
		background:#222;
		color:#fff;
		
		font-weight:bold;
		letter-spacing:1px;
		
		border-radius:5px;
		border-width:1px;
		border-color:#3b3b3b;
		border-style:solid;
		
		/*box-shadow:0 0 1px #000;*/
		
		
		
		
		
	}
	header .navigation {
		float:right;
		margin:10px 10px 0 0;
	}
	header .navigation ul {}
	header .navigation ul li {float:left;margin:0 0 0 10px;}
	header .navigation ul li a {
	
		display:block;
		line-height:100%;
		padding:8px;
		background:#222;
		color:#fff;
		
		border-radius:5px;
		border-width:1px;
		border-color:#3b3b3b;
		border-style:solid;
	}

	/* BODY */
	.body {
		/*background:#eee;*/
		background:#f7f7f7;
	}
	.body  .container {
		
	}
	/* FOOTER */


/* PAGE LAYOUT */
	.threecolumn {}
	.threecolumn .column {
		padding:20px 0;
	}
	.threecolumn .column.alpha {
		float:left;
		width:230px;
		padding:20px 10px;
	}
	.threecolumn .column.beta {
		width:250px;
		float:right;
	}
	.threecolumn .column.gamma {
		margin:0 250px;
	}


	.threecolumn .column.gamma {}
	/* jmol canvas */
	.threecolumn .column.gamma .canvas {
		width:460px;
		height:460px;
		margin:0 auto;
		padding:50px 0;
		
		background:black;
		border-radius:3px;
		
	}

/* 
 * Editor 
 * 
 * 
 * 
 */
.editor {
	/*background:#333;*/
	color:#777;
	
	border-width:1px;
	border-color:#eee;
	border-style:solid;
	border-radius:2px;
	
	position:relative;
}

.editor label {
	padding:5px;
	display:block;
	background:red;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	position: absolute;
	
	right:0;

}
.editor .category {
	
}
.editor .category hr {
	border-width:1px 0;
	border-style:solid;
	border-color:rgba(0,0,0,0) black rgba(0,0,0,0.2);
	margin:20px 10px;
	
	clear:both;
	display:none;
}

.editor .category h3 {
	font-size:9px;
	text-transform:uppercase;
	text-align:center;
	background:white;
	padding:10px 0;
	
	
}
.editor .category .note {margin:20px;}
.editor .category .actions {margin:20px 10px 20px 20px;}
.editor .category .actions li {float:left;margin:0 10px 10px 0}
.editor .category .actions li {}
.editor .category .actions.atoms li .button {	width:17px;}

/* To help mac 
.editor:hover .hvrHlpCnt 
{
    visibility:visible;
    opacity:1;
    transition-delay:0s;

  
}
/* */

.editor .category .note.picture {}
.editor .category .note.picture img {
	max-width:200px;
}
.editor .category .note.picture .picture {
	display:block;
	margin:0;
	padding:0;
	border-width:2px solid #fff;
}
.editor .category .note.picture .picture:hover {
	border-color:blue;
}

/* PAGE MODULE */
	
	.add_atom_to_molecule {
		padding:0 10px 5px 10px;
		background:#eee;
		border-radius:3px;}
	
	.periodictable {
		display: table;
		border-collapse: separate;
		border-spacing: 2px;
		font-size:9px;width:100%;}
	.periodictable .number {display:none;}
	.periodictable .weight {display:none;}
	
	.periodictable tr {}
	.periodictable tr th,
	.periodictable tr td {text-align:center;}
	.periodictable tr th {color:#555;font-size:8px;}
	.periodictable tr td {font-weight:bold;}
	
	.periodictable tr td .symbol {
		padding:5px 0 0 0;
		background:white;
		border-radius:3px;
		
		height:24px;
		
		cursor:pointer;
	}
	
	.periodictable tr td .symbol:hover {
		background:#d4e9ed;
		
	}
	
	.periodictable tr td .symbol:active,
	.periodictable tr td .symbol.active {
		color:#fff;
		background:#6d929b;
	}

/* MODULES */
 /* hvrHelp */
 *:hover > .hvrHlpCnt{
 
    visibility:visible;
    opacity:1;
    transition-delay:0s;
 
 }
/* */
  .hvrHlpCnt:hover {
    visibility:hidden;
    opacity:0;
    cursor:default;
  }
  .hvrHlpCnt {
    display:block;
    position:relative;
    top:0;
    left:0;

	-webkit-transition: visibility 0.2s linear 0s,opacity 0.2s ease-in-out;
	-moz-transition: visibility 0.2s linear 0s,opacity 0.2s ease-in-out;
	-o-transition: visibility 0.2s linear 0s,opacity 0.2s ease-in-out;
	transition: visibility 0.2s linear 0s,opacity 0.2s ease-in-out;
	

	visibility:hidden;
	opacity:0;
	
	
	
	/* 
	visibility:visible;
	opacity:1;
	height:2px;
	background:red;
	/* */
	
	width:10px;
	margin:0 auto;

  }
  .hvrHlp {
		display:block;
		background:#000;
		color:#fff;

		width:120px;
		font-size:9px;
		font-weight:bold;
		line-height:140%;
		padding:8px 8px 0px 8px;

		position:absolute;
		bottom:14px;
		left:-62px;

		

		border-radius:2px;

		box-shadow:1px 1px 2px rgba(0,0,0,0.5);
		box-shadow:1px 1px 0px #fff;
		text-shadow:none;
		
  }
  .hvrHlp:before {
    display:none;
    content:".";
  }
  .hvrHlp:after {
    display:block;
    background:black;
    color:black;
    font-size:0;
    overflow:hidden;
    content:".";
    
    width:10px;
    height:10px;
  
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    
    margin:0 auto;
    position:relative;
    bottom:-4px;

    box-shadow:1px 1px 2px rgba(0,0,0,0.5);
    box-shadow:1px 1px 0px #fff;

  }

	/* Button */
	.button {
		
		cursor:pointer;
		
		border-width:1px;
		border-style:solid;
		
		border-color:#fff;
		border-radius:1px;
		
		display:inline-block;
		padding:5px;
		
		background:
			rgba(255,255,255,0.3);
		
		box-shadow:
			0 0 1px rgba(0,0,0,0.5),
			1px 1px 3px rgba(0,0,0,0.3);
			
		text-shadow:1px 1px 0 #fff;
		
		line-height:100%;
		
		font-weight:bold;
		
		
	}
	
	.button:hover {
		background:
			rgba(255,255,255,0.5);
	}
	
	.button:active {
		box-shadow:inset 1px 1px 4px rgba(0,0,0,0.1);
		background:rgba(0,0,0,0.01);
	}
	
	.button.active {
		/* 
		background:rgba(0,0,255,0.09);
		border-color:#fefefe;
		
		/* */
		box-shadow:inset 1px 1px 4px rgba(0,0,0,0.1);
		background:rgba(0,0,0,0.01);
		/* */
		color:#222;
	}
